$fontFamily: Roboto;
    // $button-color: #2196F3;
    $button-color:#cc9955;
$text-color: #212121;
    // $link-color: #757575;
$link-color:#f6f0e8;
$background-color: #F5F4FA;
$background-color2: #F7E7CE;
$background-color3: #753d097b;
$svg-color: #AFB1B8;
$karmel-color1: #704214;
$karmel-color2: #ffefd5;
$karmel-color3: #cc9955; //link-color
    // $fun-color:teal;
$fun-color: rgb(8, 255, 4);



// $karmel-color1: #704214;
// $karmel-color2: #FDFDE7;
// $karmel-color3: #cc9955;
// $text-color:#50493D;
// $button-color: #048032;
// $link-color: #f6f0e8;
// $background-color3: #352F25;
// $background-color: #FDFDE7;
// $background-color2: #FDFDE7;

// Light #FDFDE7 Dark #352F25 Accent #048032 Text #50493D Miscellaneous #F4F4E3